<div class="modal-body">
    @{
        ViewBag.Title = "NotAuthorized";
        //Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1 class="text-danger">Not Authorized</h1>
    <h2 class="text-danger">You are Not Authorized to View This Page.</h2>
</div>