@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Your Email Address Has Not Been Confirmed.</h1>
<h3>Please check your email for a message from Budgeter&lt;webappmessages@gmail.com&gt; which will contain a link to confirm your email address.</h3>

