@model Budget.Models.RegisterViewModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/Icons/favicon.png">
    <title>Register</title>
    <!-- STYLESHEETS -->
    <style type="text/css">
        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }
    </style>
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/pnotify/pnotify.custom.min.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/vendor/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="~/Content/Template/Fuze/css/main.css">
    <!-- / STYLESHEETS -->
</head>
<body>
    <div class="content-wrapper">
        <div class="content">
            <div id="register" class="p-8">
                <div class="form-wrapper md-elevation-8 p-8">
                    <div class="title mt-4"><img src="~/Content/Images/Icons/tools.png" class="" /></div><!-- class (mb-8 main.css ln 1242)-->
                    <br /><br />
                    <div class="text-center">
                        <h4 class="title text-center text-uppercase font-bold m-b-0">Confirm Email</h4>
                    </div>

                    <div class="title mt-4">An email has been send to you. <br /> Please check for an email from <br /><br /> <span style="color:blue; font-weight:300">Financial Fixer&lt;webappmessages@gmail.com&gt;</span> <br /><br />Click on the included link to confirm your account registration.</div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="text-muted">Return to <a href="/Account/Login" class="text-primary m-l-5"><b>Sign in</b></a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript"
            src="~/Content/Template/Fuze/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/popper.js/index.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/pnotify/pnotify.custom.min.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="~/Content/Template/Fuze/vendor/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="~/Content/Template/Fuze/js/main.js"></script>
</body>
</html>